@media only screen and (max-width: 1150px){

    .header{
        height: 100%;
    }
   
    .beforeToggl{
        display: none;
    }

    .afterToggl{
        display: flex;
    }

    .navBar #logo h1{
        display:block;
    }

    .superPage{
        width: 100%;
    }

    .main_1{
        justify-content: space-around;
    }

    .main_1 #superDiscript{
        font-size: 1.8vw;
        line-height: 2.5vw;
    }

    .main_3{
        /* border: 1px solid; */
        text-align: center;
        margin: auto;
    }

    .product-block{
        margin: auto;
        width: 93%;
        flex-direction: column-reverse;
        /* border: 1px solid; */
    }

    .product-block .text-child{
        /* border: 1px solid; */
        width: 100%;
    }

    .product-block .img-child{
        width: 60%;
        margin-bottom: 1.7rem;
    }

    .body{
        width: 90%;
        /* border: 1px solid; */
    }

    .body h3{
        font-size: 36px;
        width: 100%;
    }

    .comment, .define-Para, .insight{
        width: 90%;
        /* border: 1px solid; */
        margin: auto;
    }

    .comment h3{
        font-size: 28px;
        line-height: 50px;
    }

    .comment h3 span{
        margin-left: -5px;
    }

    .define-Para p{
        width: 90%;
        font-size: 20px;
    }
    .companies{
        margin-top: 4rem;
    }
    .comp-container{
        /* border: 1px solid; */
        flex-direction: column;
        /* width: 90%; */
        margin: auto;
        column-gap: 2rem;
    }
    .comp-box{
        width: 100%;
        margin: 1rem 0;
    }

    .bullets{
        flex-direction: column;
        row-gap: 0.7rem;
    }

    .insight h3{
        width: 100%;
        font-size: 33px;
    }

    .superButton{
        flex-direction: column;
        row-gap: 1rem;
    }

    .foot-top-head, .foot-tool{
        flex-direction: column;
        row-gap: 1rem;
    }
    .foot-list{
        display: none;
    }

    .foot-btm-head{
        /* display: block; */
        flex-direction: column;
        row-gap: 1rem;
    }

    .foot-btm-head hr{
        width: 80%;
    }

    .foot-tool{
        width: 100%;
        /* border: 1px solid; */
        padding: 0;
    }

    .foot-tool h4{
        /* padding: ; */
        width: 100%;
        text-align: center;
    }

    .toggl-tool{
        width: 100%;
    }
}


@media only screen and (max-width: 850px){
    .header{
        height: 100%;
    }
   
    .beforeToggl{
        display: none;
    }

    .afterToggl{
        display: flex;
    }

    .navBar #logo h1{
        display:block;
    }

    .superPage{
        width: 100%;
    }
    .superBody{
        flex-direction: column;
    }

    .main_1{
        width: 90%;
        margin: auto;
        justify-content: center;
    }

    .main_1 #superText, #superDiscript, #superButton{
        margin: 18px 0;
    }

    .main_1 #superText{
        font-size: 8vw;
        line-height: 8.4vw;
        /* width: %; */
    }

    .main_1 #superDiscript{
        font-size: 2.4vw;
        line-height: 2.8vw;
    }
    
    .main_2 {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main_2 img{
        width: 80%;
    }

    .main_3{
        /* border: 1px solid; */
        text-align: center;
        margin: auto;
    }

    #beforeToggl_img{
        display: none;
        
    }
    #afterToggl_img{
        display: block;
        margin: auto;
        /* border: 1px solid; */
        margin-top: 24px;
        margin-bottom: 50px;
        width: 85%;
    }

    .product-block .text-child h2{
        font-size: 26px;
    }

    .product-block .text-child p{
        font-size: 16px;
        width: 100%;
    }

    .scroll-box{
        margin-bottom: 10rem;
        /* border: 10px solid; */
        height: 23rem;
    }

    .hid-msg h3{
        font-size: 20px;
        margin: 0 auto;
    }

    .scroll-box img{
        /* margin: 0; */
        width: 85%;
    }
    .foot-btm-head li{
        /* display: block; */
        text-align: left;
        line-height: 1.5rem;
    }
}

@media only screen and (max-width: 600px){

    .header{
        height: 100%;
    }
   
    .beforeToggl{
        display: none;
    }

    .afterToggl{
        display: flex;
    }

    .navBar #logo h1{
        display:block;
    }

    .superPage{
        width: 100%;
    }
    .superBody{
        flex-direction: column;
    }

    .main_1{
        width: 90%;
        margin: auto;
        justify-content: center;
    }

    .main_1 #superText, #superDiscript, #superButton{
        margin: 18px 0;
    }

    .main_1 #superText{
        font-size: 9vw;
        line-height: 9.4vw;
        width: 80%;
    }

    .main_1 #superDiscript{
        font-size: 4vw;
        line-height: 4.6vw;
    }

    .main_1 #superButton{
        flex-direction: column;
        justify-content: space-between;
    }

    #superButton button{
        margin-bottom: 24px;
    }

    .main_2 img{
        width: 90%;
    }

    .main_3{
        /* border: 1px solid; */
        text-align: center;
        margin: auto;
    }

    #beforeToggl_img{
        display: none;
        
    }
    #afterToggl_img{
        display: block;
        margin: auto;
        /* border: 1px solid; */
        margin-top: 24px;
        margin-bottom: 50px;
    }
    .foot-btm-head hr{
        width: 90%;
        margin-right: 10%;
    }   
    
}
